@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');



#app {
  font-size: 24px;
  line-height: 24px;
  font-weight: 40;
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: 700;
}



#container {
  width: 600px;
  height: 80vh;
  margin: 100px auto; 
}



body{
    background-image: url('/logo.gif');
    background-size: 25%;
  background-repeat: no-repeat;
    
    
    
    height: 10vh;
    padding:0;
    margin:0;
}



button{
    background-color:rgba(0,0,0,0);
    width:100%;
    height:100vw;
    position: absolute;
    margin:0;
    padding:0;
    border:0;
    top:0;
}